!!! 5
%html.csstransforms.csstransforms3d.csstransitions{:lang => "en"}
  %head
    = yield :head_start

    %meta{:charset=>"utf-8"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, user-scalable=no"}


    - title = yield(:title)
    %title= title.present? ? title : raw("recipe checkers")
    = favicon_link_tag 'favicon.ico' 

    = csrf_meta_tags

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Josefin+Sans|Questrial", media: "all"
    = javascript_include_tag "application"

    = yield :head_end

  %body

    .fixed
      .top-bar{"data-topbar"=>true, :role=>"navigation"}
        .top-bar-title
          %span{"data-responsive-toggle"=>"responsive-menu", "data-hide-for"=>"medium"}
            %span.menu-icon.dark{"data-toggle" => true}
          %a{:href=>"/", :style=>"display: inline-block;"}
            .upper
              Recipe Checkers
        #responsive-menu
          %section.top-bar-right
            %ul.menu
              
              -if current_user.present?
                %li 
                  %a{:href=>"/users/dashboard"}
                    %span.darkgrey.upper
                      My Recipes
                %li
                  =link_to(destroy_user_session_path, :method => :delete) do
                    %span.darkgrey.upper
                      Sign Out


                %li
                  %a{:href => edit_user_registration_path(current_user)}
                    %span.darkgrey.upper
                      Edit

              -else
                %li
                  %a{:href => "/users/sign_in"}
                    %span.darkgrey.upper
                      Login
                %li.divider  
                %li
                  %a{:href => "/users/sign_up"}
                    %span.darkgrey.upper
                      Join





    .pad{:style=>"margin-top: 0px; margin-bottom: 50px; min-height: 60%;"}
      = yield
    %footer.footer
      .row

          

        .small-12.column.text-right
          %a.button{:href=>"https://recipecheckers.stamplayapp.com/", :title=>"Need Help? Want to chat with other testers?"}
            %i.fa.fa-slack
            Join the Slack Chat

          .small
            © 2016 Lara Ferroni All Rights Reserved 
            | 
            %a{:href=>"terms"} Terms 
            |
            %a{:href=>"privacy"} Privacy


:javascript  
  $(document).foundation();